[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epoc"]
	path = epoc
	url = https://github.com/cran/epoc
[submodule "lassoshooting"]
	path = lassoshooting
	url = https://github.com/cran/lassoshooting
